<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body class="body-home">
        <%- include('../partials/header.ejs') %>

            <!-- seccion home -->
            <main class="home">

                <!--  banner -->

                <section class="banner">
                    <div class="slideshow-container">

                        <div class="mySlides fade">
                            <div class="numbertext">1 / 3</div>
                            <img src="/img/Banner01.jpg" >
                            <div class="text">Caption Text</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">2 / 3</div>
                            <img src="/img/Banner02.jpg" >
                            <div class="text">Caption Two</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">3 / 3</div>
                            <img src="/img/Banner03.jpg" >
                            <div class="text">Caption Three</div>
                        </div>

                        <!-- botones siguiente y anterior -->
                        <!--                         <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <br> -->

                        <!-- circulos -->
                        <!--                     <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div> -->
                    </div>
                </section>

                <!-- sobre nosotras -->
                <section class="nosotras">
                    <div class="tit-container">
                        <h2 class="titulo">SOBRE NOSOTRAS</h2>
                    </div>
                    <article class="info">
                        <div class="video">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Lp7Egy_mG_M"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>

                </section>



                <div class="text-container">
                    <p>Somos Ana, Ailin y Paula, madre e hijas, y juntas queremos darle la bienvenida a nuestro
                        portal de La Siesta Arte, nuestro emprendimiento de cerámica artesanal en Villa la
                        Angostura, Patagonia Argentina. <br><br>
                        ¡Nuestras piezas son muy diversas! Disfrutamos mucho distintas técnicas y nos inspira
                        profundamente buscar diferentes lenguajes. <br>
                        Saber que, en cada región del mundo, un pueblo tiene una técnica para el mismo material
                        nos conecta profundamente con el proceso de crear piezas para nuestras cotidianidades
                        que estén llenas de valor.
                    </p>

                    <a href="/about" class="button">
                        <h4>Conocenos!</h4>
                    </a>

                </div>
                </article>
                </section>
                <!--         Termina sobre nosotras -->

                <!-- Favoritos -->
                <section class="favoritos">
                    <div class="tit-container">
                        <h2 class="titulo">FAVORITOS</h3>
                    </div>

                    <div class="fav-container">
                        <% let contador=1 %>
                            <% productos.forEach(favorito=>{%>


                                <article class="fav-<%= contador %> ">
                                    <div class="photo">
                                        <a href="/products/detail/<%= favorito.id %> "> <img
                                                src='/img/products/<%= favorito.productosIm[0].nombre %> ' width="100%"
                                                alt='<%= favorito.alt %> ' /></a>
                                    </div>
                                    <div class="description">
                                        <div class="categoria">
                                            <small>
                                                <%= favorito.categoria %>
                                            </small>
                                            <i class="fas fa-regular fa-heart"></i>
                                        </div>
                                        <h3 class="subt">
                                            <%= favorito.nombre %>
                                        </h3>
                                        <h2 class="subt precio">$<%= favorito.precio %>
                                        </h2>
                                        <p>
                                            <%= favorito.descipcion %>
                                        </p>
                                    </div>

                                </article>



                                <% }) %>

                    </div>
                </section>
                <!-- Termina Favoritos -->
                <!-- Categorias -->
                <section class="categorias">
                    <div class="tit-container">
                        <a href="/products/categorias/completas">
                            <h2 class="titulo">CATEGORIAS</h2>
                        </a>
                    </div>

                    <article class="sec-categorias">
                        <!-- <div class="img-container"> -->
                        <% categorias.forEach(categoria=>{%>
                            <div class="img-container">
                                <img class="photo" src="/img/<%= categoria.img %> " width="100%"
                                    alt="<%= categoria.alt %> ">
                                <a href="/products/<%= categoria.href %> " class="titulo">
                                    <%= categoria.nombre %>
                                </a>
                            </div>
                            <% }) %>

                    </article>

                </section>
                <!-- Termina Categorias -->

                <!-- Banner Personaliza tu taza -->

                <!-- Termina Banner -->


                <!-- seccion instagram -->
                <section class="instagram">

                    <div class="tit-container">
                        <h2 class="titulo">SEGUINOS EN INSTAGRAM</h3>
                    </div>

                    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                    <div class="elfsight-app-e26a3e3d-54b3-42cb-8113-a095b23654a8"></div>

                </section>
                <!-- seccion instagram -->

                <section class="map-container">
                    <div class="tit-container">
                        <h2 class="titulo">DONDE ENCONTRARNOS</h2>
                    </div>
                    <div class="direccion">
                        <h3>Avenida Arrayanes 1368 <br>
                            Villa la Angostura <br>
                            Patagonia Argentina</h3>
                    </div>
                    <div class="mapa">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.778828121687!2d-71.62974418407576!3d-40.76688901646008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9610bffc90e4d727%3A0xe9f9c7f74ebbc0f5!2sLa%20siesta%20Arte!5e0!3m2!1ses!2sar!4v1630461257375!5m2!1ses!2sar"
                            width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </section>

            </main>

            <!-- footer -->

            <%- include('../partials/footer.ejs') %>

    </body>
    <script src="/js/slideHome.js"></script>

</html>