<% relacionados.forEach(relacionado=>{%>
                
    <div class="prodRelac<%= relacionado.id %> ">
        <a href="/products/producto"><img  src="/img/<%= relacionado.img %> " alt="<%= relacionado.alt %> "></a>
        <h4><%= relacionado.name %> </h4>
        <p><%= relacionado.price %> </p>                
    </div>
<% }) %> 