<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head.ejs")  %> 
<body>
    <%- include("../partials/header.ejs") %> 

 <main class="register">
    <P class="cont.tituloRegister"><h1>Crea un producto nuevo</h1></P>
    <div class="background">
    <form class="formRegister" action="/admin/create" method="POST" >
         
        <p>
            <label for="titulo">NOMBRE</label>
            <input class="tamaño" type="text" id="titulo" name="titulo">
        </p>

        <p>
            <label for="precio">PRECIO</label>
            <input class="tamaño" type="number" id="precio" name="precio" value="">
        </p>
        
        <p>
        <label for="categoria">CATEGORÍA</label>
        <select name="categoria" class="tamaño">
            <option selected hidden>Seleccione la categoría</option>
            <% categorias.forEach(categorias=>{%>
                <option value="<%= categorias.nombre %> "><%= categorias.nombre %> </option>
            <% }) %>
        </select>
        </p>

        <p>
            <label for="descripcion">DESCRIPCION</label>
            <textarea class="tamaño-desc" name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
        </p>
        
        <p>
            <label for="imagen">IMAGEN</label>
            <input  type="file" id="imagen" name="imagen" accept="jpg">
        </p>

        <div class="botones">
            <button type="submit">
             Crear producto
            </button>
        </div>
    </form>
</div>
 </main>
 <%- include("../partials/footer.ejs") %> 
</body>
</html>