<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head.ejs")  %> 
<body>
    <%- include("../partials/header.ejs") %> 

 <main class="create">
    <P class="cont.titulo"><h1>Crea un producto nuevo</h1></P>
    <div class="background">
    <form class="createForm" id="createForm" action="/admin/create" method="POST" enctype="multipart/form-data">
         
        <p>
            <label for="titulo">NOMBRE</label>
            <input class="tamaño" type="text" id="titulo" name="titulo" value="<%= locals.old && old.titulo ? old.titulo : null %> ">
            <br>
            <small>
                <%= locals.errors && errors.titulo ? errors.titulo.msg : null %> 
           </small>
           <small id="smallTitulo"></small>
        </p>

        <p>
            <label for="precio">PRECIO</label>
            <input class="tamaño" type="number" id="precio" name="precio" value="<%= locals.old && old.precio ? old.precio : null %> ">
            <br>
            <small>
                <%= locals.errors && errors.precio ? errors.precio.msg : null %> 
           </small>
           <small id="smallPrecio"></small>
        </p>
        
        <p>
            <label for="categoria">CATEGORÍA</label>
            <select name="categoria" class="tamaño" id="categorias">
                <option selected hidden>Seleccione la categoría</option>
                <% categorias.forEach(categorias=>{%>
                    <option value="<%= categorias.id %>" ><%= categorias.nombre %> </option>
                <% }) %>
            </select>
            <br>        
            <small>
                <%= locals.errors && errors.categoria ? errors.categoria.msg : null %> 
           </small>
           <small id="smallCategorias"></small>
            </p>



        <p>
            <label for="descripcion">DESCRIPCION</label>
            <textarea class="tamaño-desc" name="descripcion" id="descripcion" cols="30" rows="10" value="<%= locals.old && old.descripcion ? old.descripcion : null %> "></textarea>
            <br>
            <small>
                <%= locals.errors && errors.descripcion ? errors.descripcion.msg : null %> 
           </small>
           <small id="smallDescripcion"></small>
        </p>
        
        <p>
            <label for="image">IMAGEN</label>
            <input  type="file" id="image" name="image" accept=".png, .jpg, .jpeg"> <br>
            <small><%= locals.errors && errors.image ? errors.image.msg : null %> </small>
        </p>

        <div class="botones">
            <button type="submit" class="crear">
             Crear
            </button>
        </div>
    </form>
</div>
 </main>
 <%- include("../partials/footer.ejs") %> 
</body>

<script src="/js/productValidate.js"> </script>

</html>