<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head.ejs")  %> 
<body>
    <%- include("../partials/header.ejs") %> 

 <main class="register">
    <P class="cont.tituloRegister"><h1>EDITA TUS DATOS</h1></P>
     
    <div class="background">
 

    <form id="formUserEdit" class="formRegister" action="/users/Miperfil/edit/?_method=PUT " method="POST" enctype="multipart/form-data" >
         
        <p>
            <label for="Nombre">Nombre:</label>
            <input class="tamaño" type="text" placeholder="ej: Ricardo" name="Nombre" value="<%= usuario.nombre %>"  > <br>
            <small><%= locals.errors && errors.Nombre ? errors.Nombre.msg : null %> </small> 
            <small id="smallNombre"></small>
        </p>
        <p>
            <label for="Apellido">Apellido:</label>
            <input class="tamaño" type="text" placeholder="ej: Ford" name="Apellido" value="<%= usuario.apellido %>"  > <br>
            <small><%= locals.errors && errors.Apellido ? errors.Apellido.msg : null %> </small> 
            <small id="smallApellido"></small>
        </p>
        <p>
            <label for="telefono">Telefono:</label>
            <input id="telefono" class="tamaño" maxlength="10" type="tel" placeholder="ej: 0112345678" name="telefono" value=<%= usuario.telefono %>  > <br>
            <small><%= locals.errors && errors.telefono ? errors.telefono.msg : null %> </small>
            <small id="smallTelefono"></small>   
        </p>
        <p>
        <label for="provincia">Provincia:</label>
        <select id="provincia" name="provincia" class="tamaño" >
        </select> <br>
        <small><%= locals.errors && errors.provincia ? errors.provincia.msg : null %> </small>
        </p>
        <P>
            <label for="localidad">Localidad:</label>
        <select id="localidad" name="localidad" class="tamaño">
            
        </select> <br>
        <small><%= locals.errors && errors.localidad ? errors.localidad.msg : null %> </small>
        </P>
        <p>
            <label for="email">Correo electrónico:L</label>
            <input class="tamaño" type="email" placeholder="ej: Ricardo@gmail.com" name="email" value=<%= usuario.email %>  > <br>
            <small><%= locals.errors && errors.email ? errors.email.msg : null %> </small>  
            
        </p>
        <p>
            <label for="image">Imagen:</label>
            <input class="tam" type="file"  name="image">
        </p>

        <div class="botones">
            
             <button class="guardar" type="submit">Guardar cambios</button>
        </div>
        <option id="userProv" value="<%= usuario.provincia %>"></option>
        <option id="userLoc" value="<%= usuario.localidad %>"></option>
    </form>
</div>
 </main>
 <%- include("../partials/footer.ejs") %> 
 <script src="/js/editUserValidation.js"></script>
</body>
</html>