<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head.ejs")  %> 
<body>
    <%- include("../partials/header.ejs") %> 

 <main class="register">
    <P class="cont.tituloRegister"><h1>CREA TU CUENTA</h1></P>
     
    <div class="background">
 

    <form class="formRegister" action="" method="POST" enctype="multipart/form-data" >
         
        <p>
            <label for="Nombre">NOMBRE</label>
            <input class="tamaño" type="text" placeholder="ej: Ricardo" name="Nombre" value=<%= locals.old && old.Nombre? old.Nombre : null %>  > <br>
            <small><%= locals.errors && errors.Nombre ? errors.Nombre.msg : null %> </small> 
        </p>
        <p>
            <label for="Apellido">APELLIDO</label>
            <input class="tamaño" type="text" placeholder="ej: Ford" name="Apellido" value=<%= locals.old && old.Apellido? old.Apellido : null %>  > <br>
            <small><%= locals.errors && errors.Apellido ? errors.Apellido.msg : null %> </small> 
        </p>
        <p>
            <label for="telefono">TELEFONO</label>
            <input class="tamaño" maxlength="10" type="tel" placeholder="ej: 0112345678" name="telefono" value=<%= locals.old && old.telefono? old.telefono : null %>  > <br>
            <small><%= locals.errors && errors.telefono ? errors.telefono.msg : null %> </small>   
        </p>
        <p>
        <label for="provincia">PROVINCIA</label>
        <select name="provincia" class="tamaño" >
            <option value=""<%= locals.old && old.provincia=== ""? "selected" : null %>  hidden>Seleccione tu provincia</option>
            <option value="Buenos Aires"<%= locals.old && old.provincia=== "Buenos Aires"? "selected" : null %>>Buenos Aires</option>  
            <option value="Capital Federal"<%= locals.old && old.provincia=== "Capital Federal"? "selected" : null %>>Capital Federal</option>
            <option value="Catamarca"<%= locals.old && old.provincia=== "Catamarca"? "selected" : null %>>Catamarca</option>
            <option value="Chaco"<%= locals.old && old.provincia=== "Chaco"? "selected" : null %>>Chaco</option>
            <option value="Chubut"<%= locals.old && old.provincia=== "Chubut"? "selected" : null %>>Chubut</option>
            <option value="Córdoba"<%= locals.old && old.provincia=== "Córdoba"? "selected" : null %>>Córdoba</option>
            <option value="Corrientes"<%= locals.old && old.provincia=== "Corrientes"? "selected" : null %>>Corrientes</option>
            <option value="Entre Ríos"<%= locals.old && old.provincia=== "Entre Ríos"? "selected" : null %>>Entre Ríos</option>
            <option value="Formosa"<%= locals.old && old.provincia=== "Formosa"? "selected" : null %>>Formosa</option>
            <option value="Jujuy"<%= locals.old && old.provincia=== "Jujuy"? "selected" : null %>>Jujuy</option>
            <option value="Mendoza"<%= locals.old && old.provincia=== "Mendoza"? "selected" : null %>>Mendoza</option>
            <option value="Misiones"<%= locals.old && old.provincia=== "Misiones"? "selected" : null %>>Misiones</option>
            <option value="Neuquén"<%= locals.old && old.provincia=== "Neuquén"? "selected" : null %>>Neuquén</option>
            <option value="Río Negro"<%= locals.old && old.provincia=== "Río Negro"? "selected" : null %>>Río Negro</option>
            <option value="Salta"<%= locals.old && old.provincia=== "Salta"? "selected" : null %>>Salta</option>
            <option value="San Juan"<%= locals.old && old.provincia=== "San Juan"? "selected" : null %>>San Juan</option>
            <option value="San Luis"<%= locals.old && old.provincia=== "San Luis"? "selected" : null %>>San Luis</option>
            <option value="Santa Cruz"<%= locals.old && old.provincia=== "Santa Cruz"? "selected" : null %>>Santa Cruz</option>
            <option value="Santa Fe"<%= locals.old && old.provincia=== "Santa Fe"? "selected" : null %>>Santa Fe</option>
            <option value="Santiago del Estero"<%= locals.old && old.provincia=== "Santiago del Estero"? "selected" : null %>>Santiago del Estero</option>
            <option value="Tierra del Fuego"<%= locals.old && old.provincia=== "Tierra del Fuego"? "selected" : null %>>Tierra del Fuego</option>
            <option value="Octubre"<%= locals.old && old.provincia=== "Octubre"? "selected" : null %>>Octubre</option>
            <option value="Tucumán"<%= locals.old && old.provincia=== "Tucumán"? "selected" : null %>>Tucumán</option>
        </select> <br>
        <small><%= locals.errors && errors.provincia ? errors.provincia.msg : null %> </small>
        </p>
        <P>
            <label for="localidad">LOCALIDAD</label>
        <select name="localidad" class="tamaño">
            <option value="" <%= locals.old && old.localidad=== ""? "selected" : null %> hidden>Seleccione tu localidad</option>
            <option value="Ramos Mejia"<%= locals.old && old.localidad=== "Ramos Mejia"? "selected" : null %>>Ramos Mejia</option>
            <option value="Lomas de Zamora"<%= locals.old && old.localidad=== "Lomas de Zamora"? "selected" : null %>>Lomas de Zamora</option>
            <option value="Moron"<%= locals.old && old.localidad=== "Moron"? "selected" : null %>>Moron</option>
            <option value="Caballito"<%= locals.old && old.localidad=== "Caballito"? "selected" : null %>>Caballito</option>
            <option value="Ciudadela"<%= locals.old && old.localidad=== "Ciudadela"? "selected" : null %>>Ciudadela</option>
            <option value="Hurlingham"<%= locals.old && old.localidad=== "Hurlingham"? "selected" : null %>>Hurlingham</option>
            <option value="Monte Grande"<%= locals.old && old.localidad=== "Monte Grande"? "selected" : null %>>Monte Grande</option>
            <option value="Castillo"<%= locals.old && old.localidad=== "Castillo"? "selected" : null %>>Castillo</option>
            <option value="Lomas del Mirador"<%= locals.old && old.localidad=== "Lomas del Mirador"? "selected" : null %>>Lomas del Mirador</option>
            <option value="Liniers" <%= locals.old && old.localidad=== "Liniers"? "selected" : null %>>Liniers</option>
        </select> <br>
        <small><%= locals.errors && errors.localidad ? errors.localidad.msg : null %> </small>
        </P>
        <p>
            <label for="email">E-MAIL</label>
            <input class="tamaño" type="email" placeholder="ej: Ricardo@gmail.com" name="email" value=<%= locals.old && old.email? old.email : null %>  > <br>
            <small><%= locals.errors && errors.email ? errors.email.msg : null %> </small>  
            
        </p>
          
        <p>
            <label for="password">CONTRASEÑA:</label>
            <input class="tamaño" type="password" placeholder="**********" name="password" > <br>
            <small><%= locals.errors && errors.password ? errors.password.msg : null %> </small>              
        </p>

        <p>
            <label for="password">CONFIRMAR CONTRASEÑA:</label>
            <input class="tamaño" type="password" placeholder="**********" name="password2" > <br>
            <small><%= locals.errors && errors.password2 ? errors.password2.msg : null %> </small>
        </p>

        <p>
            <label for="image">IMAGEN</label>
            <input class="tam" type="file"  name="image">
        </p>
        <div class="botones">
            
             <button class="guardar" type="submit">Crear cuenta</button>
        </div>
        <p>¿Ya tenés una cuenta? 
          <a href="/users/login">
            <p>¡Ingresá desde acá!</p>
          </a> 
        </p>
    </form>
</div>
 </main>
 <%- include("../partials/footer.ejs") %> 
</body>
</html>