<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head.ejs")  %> 
<body>
    <%- include("../partials/header.ejs") %> 
   
 <main class="register">
    <P class="cont.tituloRegister"><h1>CREA TU CUENTA</h1></P>
     
    <div class="background">
 

    <form class="formRegister" action="" method="POST" enctype="multipart/form-data" id= "formV" >
         
        <p>
            <label for="Nombre">NOMBRE</label>
            <input class="tamaño" type="text" placeholder="ej: Ricardo " name="Nombre" id= "Nombre" > <br>
            <small ><%= locals.errors && errors.Nombre ? errors.Nombre.msg : null %> </small> 
            <small id="smallNombre"></small>
            
        </p>
        <p>
            <label for="Nombre">APELLIDO</label>
            <input class="tamaño" type="text" placeholder="ej: Ford" name="apellido" id="apellido" > <br>
            <small><%= locals.errors && errors.Apellido ? errors.Apellido.msg : null %> </small> 
            <small id="smallApellido"></small>
        </p>
        <p>
            <label for="telefono">TELEFONO</label>
            <input class="tamaño" maxlength="10" type="tel" placeholder="ej: 0112345678" name="telefono" id="telefono" > <br>
            <small><%= locals.errors && errors.telefono ? errors.telefono.msg : null %> </small>   
            <small id="smallTelefono"></small>
        </p>
        <p>
        <label for="provincia">PROVINCIA</label>
        <select name="provincia" class="tamaño" id= "provincia" >
            <option selected hidden>Seleccione tu provincia</option>
            <option value="Buenos Aires">Buenos Aires</option>  
            <option value="Capital Federal">Capital Federal</option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Ríos">Entre Ríos</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquén">Neuquén</option>
            <option value="Río Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Santiago del Estero">Santiago del Estero</option>
            <option value="Tierra del Fuego">Tierra del Fuego</option>
            <option value="Octubre">Octubre</option>
            <option value="Tucumán">Tucumán</option>
        </select> <br>
        <small id="smallProvincia"></small>
        </p>
        <P>
            <label for="localidad">LOCALIDAD</label>
        <select name="localidad" class="tamaño" id="localidad">
            <option selected hidden>Seleccione tu localidad</option>
            <option value="Ramos Mejia">Ramos Mejia</option>
            <option value="Lomas de Zamora">Lomas de Zamora</option>
            <option value="Moron">Moron</option>
            <option value="Caballito">Caballito</option>
            <option value="Ciudadela">Ciudadela</option>
            <option value="Hurlingham">Hurlingham</option>
            <option value="Monte Grande">Monte Grande</option>
            <option value="Castillo">Castillo</option>
            <option value="Lomas del Mirador">Lomas del Mirador</option>
            <option value="Liniers">Liniers</option>
        </select> <br>
        <small id="smallLocalidad"></small>
        </P>
        <p>
            <label for="email">E-MAIL</label>
            <input class="tamaño" type="text" placeholder="ej: Ricardo@gmail.com" name="email" id="email" > <br>
            <small><%= locals.errors && errors.email ? errors.email.msg : null %> </small>  
            <small id="smallEmail"></small>
        </p>
          
        <p>
            <label for="password">CONTRASEÑA:</label>
            <input class="tamaño" type="password" placeholder="**********" name="password" id="Password" > <br>
            <small><%= locals.errors && errors.password ? errors.password.msg : null %> </small>  
            <small id="smallPassword"></small>            
        </p>

        <p>
            <label for="password">CONFIRMAR CONTRASEÑA:</label>
            <input class="tamaño" type="password" placeholder="**********" name="password2" id="Password2"> <br>
            <small><%= locals.errors && errors.password2 ? errors.password2.msg : null %> </small>
            <small id="smallPassword2"></small> 
        </p>

        <p>
            <label for="image">IMAGEN</label>
            <input class="tam" type="file"  name="image" id="image">
        </p>
        <div class="botones">
            
             <button class="guardar" type="submit">Crear cuenta</button>
        </div>
        <p>¿Ya tenés una cuenta? 
          <a href="/users/login">
            <p>¡Ingresá desde acá!</p>
          </a> 
        </p>
    </form>
</div>
 </main>
 <%- include("../partials/footer.ejs") %> 
</body>
<script src = "/js/validation.js"></script>
</html>