<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body class="usuarios">

        <%- include('../partials/header.ejs') %>

            <main>

                <section class="background">

                    <div class="img-container">
                        <div class="foto">
                            <img class="perfil" src='/img/users/<%= usuario.imagen %> ' width="100%"
                                alt="Foto de perfil">
                        </div>
                    </div>

                    <div class="tit-container">
                        <h1 class="titulo">¡Hola <%= usuario.nombre %>!</h1>
                    </div>

                    <!--    <h2>Bienvenido a tu perfil</h2> -->

                    <div class="container">

                        <section class="datos">

                            <h3>Datos de tu cuenta</h3>

                            <div>
                                <p class="a">Tu nombre:</p>
                                <p class="b">
                                    <%= usuario.nombre %>
                                        <%= usuario.apellido %>
                                </p>
                            </div>

                            <div>
                                <p class="a">Tipo de usuario:</p>
                                <p class="b">
                                    <%= usuario.roles.nombre %>
                                </p>
                            </div>

                            <div>
                                <p class="a">Tu email:</p>
                                <p class="b">
                                    <%= usuario.email %>
                                </p>
                            </div>

                            <div>
                                <p class="a">Tu celular:</p>
                                <p class="b">
                                    <%= usuario.telefono %>
                                </p>
                            </div>

                            <div>
                                <p class="a">Tu ubicación:</p>
                                <p class="b">
                                    <%= usuario.localidad %>- <%= usuario.provincia %>
                                </p>
                            </div>

                        </section>

                        <div class="edicion">

                            <p> Editá tu perfil</p>
                            <a href="/users/edit/<%= usuario.id %> ">
                                <div class="editar">
                                    <i class="fas fa-edit"></i>
                                </div>
                            </a>

                        </div>

                    </div>
                    
                </section>

            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>